.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .container{
        position: relative;

        #contador{
            display: block;
                }        
}

    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);

    }

    &__text{
        margin: 64px 0;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }
    
    &__logo{
        display: block;
        margin: 0 auto;
        height: 80px;
    }

    @media (max-width: 640px){
        padding: 40px;

        &__logo{
            height: 40px;
        }

        &__text{
            font-size: 22px;
            line-height: 24px;
            margin: 40px 0;
        }
    }
}